@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    overflow: hidden;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #22333B;
}

h1 {
    color: #ccc;
    font-weight: 400;
    font-style: italic;
    font-size: 55px;
    text-align: center;
    margin-top: 43vh;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container button {
    color: #ccc;
    height: 40px;
    width: 150px;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}