@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    overflow: hidden;
}

.tables {
    table-layout: fixed;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tables, .tables th, .tables td {
    font-style: italic;
    font-size: 0.7vw;
    font-weight: 500;
}

.tables th {
    background-color: #E6E6EA;
}

#oceny-imie {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

#money-table {
    width: 95vw;
    position: fixed;
    margin-left: -47.5vw;
    top: 50%;
    left: 50%;
}