<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oceny</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/score.png" type="image/icon type">
</head>

<body>
    <div class="wrapper">
        <div class="oceny-napis">
            <h1>Oceny</h1>
        </div>
        <div class="users-container">
            <% for (let user of users) { %>
                <a href=<%="/" + user %>><%= user.replace(/\w/, c=> c.toUpperCase()) %></a>
            <% } %>
        </div>
    </div>
</body>

</html>