<!DOCTYPE html>
<html lang="en">
<head>
    <% const name = user.replace(/\w/, c => c.toUpperCase()) %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oceny <%= name %></title>
    <script src="static/index_phone.js"></script>
    <link rel="stylesheet" href="/static/user_phone.css">
</head>
<body onload="run_ws()">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class="content">
        <h1 id="oceny-imie">Oceny <%= name %> </h1>

        <div class="filter-buttons">
            <label for="filter-date">Filtruj po: </label>
            <input type="text" name="filter-date" id="filter-date" onkeydown="on_enter(this)" placeholder="DD/MM/YYYY" pattern="\d{2}\/\d{2}\/\d{2,4}">
            <button onclick="filter_date()">filtruj</button>
            <button onclick="reset_date()">resetuj</button>
        </div>

        <div id="tables">
            <table id="grades-table" class="tables" border="thin">
                <tbody></tbody>
            </table>
            <br><br>
            <table id="money-table" class="tables" border="thin">
                <tbody></tbody>
            </table>
        </div>

        <h2 id="wszystkie-pieniadze">Wszystkie pieniądze: </h2>
    </div>
</body>
</html>