<!DOCTYPE html>
<html lang="en">
<head>
    <% const name = user.replace(/\w/, c => c.toUpperCase()) %>
    <meta charset="UTF-8">
    <title>Oceny <%= name %></title>
    <script type="text/javascript" src="/static/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/user.css">
    <link rel="icon" href="/static/score.png" type="image/icon type">
</head>
<body onload="run_ws()">
    <div id="data" data-url=<%= url %>></div>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class="content">
        <h1 id="oceny-imie">Oceny <%= name %></h1>

        <div class="filter-table-wrapper">
            <label for="filter-date">Filtruj po: </label>
            <input type="text" name="filter-date" id="filter-date" onkeydown="on_enter(this)" placeholder="DD/MM/YYYY" pattern="\d{2}\/\d{2}\/\d{2,4}">
            <button onclick="filter_date()">filtruj</button>
            <button onclick="reset_date()">resetuj</button>
        </div>


        <div class="table-wrapper">
            <table id="grades-table" class="tables" border="thin">
                <thead class="thead-light"></thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="table-wrapper">
            <table id="money-table" class="tables" border="thin">
                <thead class="thead-light"></thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="total-money-wrapper">
            <p id="total-money-text">Wszystkie pieniądze: </p>
            <p id="total-money-pln"></p>
        </div>

        <div class="home-button">
            <a href="/">Home</a>
        </div>
    </div>
</body>
</html>