<!DOCTYPE html>
<html lang="en">
<head>
    <% const name = user.replace(/\w/, c => c.toUpperCase()) %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oceny <%= name %></title>
    <script src="static/index_phone.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

        body {
            font-family: 'Roboto', 'Courier New', Courier, monospace;
            overflow: hidden;
            background-color: #0D3B66;
        }

        #oceny-imie {
            font-weight: 400;
            font-style: italic;
            color: #F7F0F0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .filter-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .filter-buttons label {
            color: #F7F0F0;
            font-style: italic;
            font-weight: 400;
            font-size: 15px;
            margin-right: 10px;
        }

        .filter-buttons input {
            font-style: italic;
            height: 18px;
            border-radius: 5px;
        }

        .filter-buttons button {
            border-radius: 5px;
            height: 25px;
        }

        .tables {
            border: 1px solid #F7F0F0;
            table-layout: fixed;
            width: 95vw;
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            border-collapse: collapse;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .tables, .tables td {
            font-style: italic;
            font-weight: 400;
            background-color: #fff;
        }

        #grades-table {
            margin-top: 20px;
        }

        #wszystkie-pieniadze {
            font-weight: 400;
            font-style: italic;
            color: #F7F0F0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
</style>
</head>
<body onload="run_ws()">
    <h1 id="oceny-imie">Oceny <%= name %> </h1>

    <div class="filter-buttons">
        <label for="filter-date">Filtruj po: </label>
        <input type="text" name="filter-date" id="filter-date" placeholder="DD/MM/YYYY" pattern="\d{2}\/\d{2}\/\d{2,4}">
        <button>filtruj</button>
        <button>resetuj</button>
    </div>

    <div id="tables">
        <table id="grades-table" class="tables" border="thin">
            <tbody></tbody>
        </table>
        <br><br>
        <table id="money-table" class="tables" border="thin">
            <tbody></tbody>
        </table>
    </div>

    <h2 id="wszystkie-pieniadze">Wszystkie pieniądze: </h2>
</body>
</html>