@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    overflow: hidden;
    background-color: #9B1D20;
}

.oceny-napis {
    width: 600px;
    position: fixed;
    top: 325px;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.oceny-napis h1 {
    color: #F7F0F0;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
}

.users-container {    
    position: fixed;
    top: 430px;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.users-container a {
    margin-bottom: 15px;
    margin-top: 15px;
    text-decoration: none;
    color: #D5DFE5;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}