@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    overflow: hidden;
    background-color: #031927;
}

.content {
    z-index: 1000;
}

.tables {
    table-layout: fixed;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tables, .tables th, .tables td {
    font-style: italic;
    font-size: 0.7vw;
    font-weight: 500;
}

.tables th {
    background-color: #F7F0F0;
}

.tables td {
    background-color: #D5DFE5;
}

#oceny-imie {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: #F7F0F0;
}

#money-table {
    width: 95vw;
    position: fixed;
    margin-left: -47.5vw;
    top: 55%;
    left: 50%;
}

.filter-table-wrapper {
    color: #F7F0F0;
    position: fixed;
    top: 5%;
    left: 2.6%;
    font-weight: 500;
}

.filter-table-wrapper label {
    font-style: italic;
    margin-right: 18px;
}

.filter-table-wrapper input {
    font-style: italic;
}

.filter-table-wrapper button {
    font-style: italic;
}

.total-money-wrapper {
    font-style: italic;
    font-size: 23px;
    color: #F7F0F0;
}

.total-money-wrapper #total-money-text {
    top: 90%;
    position: fixed;
    left: 2.6%;
}

.total-money-wrapper #total-money-pln {
    top: 90%;
    position: fixed;
    left: 200px;
}

.loader-wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #031927;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}